.content {
    text-align: center;
    font-size: 67px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-bottom: 1%;
} 

.subcontent {
    text-align: center;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-top: 0%;
}

body {
    background-image: url("../images/ocean.jpg");
    background-size: 100%;
    background-color: cornflowerblue;
}
